body{
    background-color: #A1D6E2;
}
h1{
    font-size: 150px;
    margin-left: 31%;
    color: white;
    font-family:'Playfair Display';
    font-weight: 150;
    margin-bottom: 30px;
    margin-top: 0px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: 38%;
    font-size: 25px;
    background-color: #F1F1F2;
  }
td,th{
    border: 2px solid black;
}
.calc{
    border: 3px solid #F1F1F2;
    width: auto;
    padding: 25px;
    border-radius: 15px;
}
label{
    font-size: 40px;
}
#btn{
    font-size: 30px;
    margin-left: 21px;
    background-color: #F1F1F2;
    border-radius: 5px;
    border: 1px;
}
.selector{
    font-size: 19px;
    border-radius: 7px;
    background-color: light;
}
.input{
    font-size: 23px;
    background-color: #F1F1F2;
    border: 1px;
    width: auto;
    border-radius: 5px;
}

p{
    font-size: 30px;
    font-family: 'Garamond';
    font-weight:bolder;
    color: rgb(26, 26, 26);
}

#container{
    display: flex;
    justify-content: space-evenly;
}

.answer{
    border: 3px solid #F1F1F2;
    width: 300px;
    border-radius: 15px;
    align-content: center;
    text-align: center;
}

@media screen and (max-width:600px) {
    h1{
        font-size: 75px;
        margin-left: 70px;
    }
    table {
        margin: auto;
      }
    label{
        font-size: 25px;
        margin-left: 15px;
    }
    #container{
        display: grid; 
    }
    .input{
        font-size: 15px;
        width: 50px;
        margin-left: 5px;
    }
    #btn{
        font-size: 20px;
        margin-left: 61px;
    }
    .selector{
        font-size: 12px;
        width: 50px;
        border-radius: 3px;
    }
    .calc{
        width: 250px;
    }
}
